*{
   margin: auto;
   /* width: 100%; */
}
.hbg{
   width: 100%;
   background-color: black;
   /* padding-top: 0px; */
   position: absolute;
}
.tabs{
   padding: 13px 30px;
   /* padding-bottom: 18px; */
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(7, 17, 1);
   color: #fff;
   /* position: relative; */
   border-left: solid rgb(1, 32, 1) 2px;
   /* margin-top: 100px; */
}
.tabs:hover{
   background-color: rgb(17, 41, 5);
}
.search-bar{
   margin: 0px;
   background-color: rgb(61, 61, 61);
   color: rgb(131, 131, 131);
   padding: 10px;
   padding-left: 10px;
   padding-right: 150px;
   border-radius: 3px;
   border: none;
   margin-right: 1px;
}

.logo-img{
   float: left;
   margin: 0px;
   width: 120px;
   height: 100px;
   background-color: rgb(66, 161, 18);
}
.a-tabs{
   /* position: relative; */
   margin-top: 70px;
   float: left;
}
.search-div{
   float: left;
   width: auto;
   margin-left: 370px;
   margin-top: 60px;
}
.s-btn{
   background-color: rgb(43, 59, 40);
   color: rgb(212, 212, 212);
   padding: 10px;
   border-radius: 3px;
   border: none;
}